<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>app_qrIcon</string>
		<key>title</key>
		<string>二维码</string>
		<key>vc</key>
		<string>QRSegue</string>
		<key>vc - 2</key>
		<string>QRViewController</string>
	</dict>
	<dict>
		<key>image</key>
		<string>app_wechat</string>
		<key>title</key>
		<string>微信</string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>2</string>
		<key>title</key>
		<string>联动</string>
		<key>vc</key>
		<string>LinkageSegue</string>
	</dict>
	<dict>
		<key>image</key>
		<string>searchbutton_nor</string>
		<key>title</key>
		<string>发现</string>
		<key>vc</key>
		<string>findSegue</string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>vc</key>
		<string></string>
	</dict>
</array>
</plist>
