<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刮刮乐</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>LuckyDrawViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水波</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>WaterWaveViewVC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>卡片</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>CardViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cell的多选</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>CellSelectViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>引导页</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>GuideViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的位置</string>
		<key>icon</key>
		<string>searchbutton_nor</string>
		<key>className</key>
		<string>MyLocationViewController</string>
	</dict>
</array>
</plist>
